.signup-page {
  background-color: #E5F77D;
  color: rgb(0, 0, 0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.signup-page h2 {
  text-align: center;
  margin-top: 2%;
  font-family: 'Montserrat', sans-serif;
}

.signup-page .navbar {
  display: flex;
  justify-content: space-between;
  margin: 3%;
  margin-top: 10px;
  margin-bottom: 0%;
  padding-bottom: 10px;
  border-bottom: 2px solid #000000;
}

.signup-page .logo {
  display: flex;
  width: 20%;
}

.signup-page .logo img {
  width: 200px;
}

.signup-page .signup-container {
  width: 100%;
  max-width: 600px;
  margin: 5%;
  margin-top: 20px;
  padding: 40px;
  background-color: #f4f7be;
  border-radius: 10px;
}

.signup-page .signup-part {
  width: 100%;
}

.signup-page .signup-part p {
  font-size: 15px;
  margin-bottom: 20px;
}

.signup-page form {
  display: flex;
  flex-direction: column;
}

.signup-page .form-group {
  margin-bottom: 0.5rem;
  position: relative;
}

.signup-page .form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.signup-page .form-group input,
.signup-page .form-group select,
.signup-page .form-group textarea {
  width: 100%;
  padding: 0.25rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.signup-page .form-group.error input {
  border: 1px solid red;
}

.signup-page .error-message {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

.signup-page button {
  padding: 0.75rem;
  background-color: #1E000E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1rem;
}

.signup-page button:hover {
  background-color: #1e000e75;
}

.signup-page .google-button {
  background-color: #1E000E;
  color: white;
  border: none;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  width: 100%; /* Make the button full width */
  text-align: center;
  margin-top: 1rem;
}

.signup-page .google-button:hover {
  background-color: #1e000e75;
}

.signup-page .or-divider {
  text-align: center;
  margin: 1rem 0;
}

.signup-page .login-prompt {
  text-align: center;
  margin-top: 1rem;
}

.signup-page .login-prompt a {
  color: #007bff;
  text-decoration: none;
}

.signup-page .login-prompt a:hover {
  text-decoration: underline;
}

.signup-page .suggestions {
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  color: black;
  max-height: 150px;
  overflow-y: auto;
  margin-top: 0.5rem;
  position: absolute;
  width: calc(100% - 10px); /* Adjust width to match input field */
  z-index: 1000; /* Ensure suggestions appear above other elements */
}

.signup-page .suggestion {
  padding: 0.5rem;
  cursor: pointer;
}

.signup-page .suggestion:hover {
  background-color: #e9e9e9;
  color: rgb(0, 0, 0);
}

.signup-page .selected-skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 20px;
}

.signup-page .selected-skill {
  height: 40px;
  background-color: #1E000E;
  color: white;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.signup-page .selected-skill button {
  background-color: #007bff00;
  padding: 0;
  margin-bottom: 17px;
  color: rgb(255, 0, 0);
  margin-left: 20px;
  cursor: pointer;
}

/* Styles for avatar selection */
.signup-page .profile-avatar {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.signup-page .selected-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: none;
}

.signup-page .choose-avatar-button {
  display: block;
  margin: 0 auto;
  background-color: #1E000E;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.signup-page .choose-avatar-button:hover {
  background-color: #1e000e75;
}

.signup-page .avatar-selection-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  z-index: 1000;
}

.signup-page .avatar-selection {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.signup-page .avatar {
  width: 75px;
  height: 75px;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;
}

.signup-page .avatar:hover {
  border-color: none;
}

.signup-page .close-button {
  background-color: #1E000E;
  border: none;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  align-self: flex-end;
}
