.feed-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  background-color: #E5F77D;
}

.feed-page .content {
  display: flex;
  flex: 1;
  margin-top: 70px;
  margin-left: 250px;
}

.feed-container {
  flex: 1;
  padding: 40px;
  margin-right: 25%;
  overflow-y: auto;
}

.feed-item {
  background-color: #F4F7BE;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.feed-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.feed-page .page-details {
  background-color: #1E000E;
  color: #fff;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.page-details h2 {
  font-family: 'Montserrat', sans-serif;
}
