.side-bar {
  position: fixed; 
  top: 70px; 
  left: 0;
  background-color: #F4F7BE;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100% - 60px); 
  width: 250px; 
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgb(150, 150, 150);
  font-family: 'Montserrat', sans-serif;
  z-index: 1000; 
  overflow-y: auto;
}

.side-bar .side-bar-button {
  background: none;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: 5px;
}

.side-bar .side-bar-button:hover {
  background-color: #b39e0033;
}

.feeds {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(150, 150, 150);
}

.forums {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
