.devorum-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  background-color: #E5F77D;
  font-family: 'Montserrat', sans-serif;
}

.devorum-page .content {
  display: flex;
  flex: 1;
  margin-top: 70px;
  margin-left: 250px;
}

.devorum-container {
  flex: 1;
  padding: 40px;
  margin-right: 25%;
  overflow-y: auto;
}

.devorum-item {
  position: relative;
  background-color: #F4F7BE;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.devorum-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.forum-details {
  background-color: #1E000E;
  color: #fff;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
}

.forum-details h1 {
  min-width: 30%;
  max-width: 45%;
  padding: 20px;
  color: #1E000E;
  align-content: center;
  border-radius: 10px;
  background-color: #f0c674;
}

.forum-details p {
  max-width: 50%;
  margin: 0;
  text-align: justify;
  font-family: 'Poppins', sans-serif;
}

.join-btn {
  display: block;  
  margin-top: 25px; 
  font-size: 15px;
  padding: 5px 15px; 
  background-color: #1E000E; 
  color: white; 
  border: none; 
  border-radius: 15px; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

.join-btn:hover {
  background-color: #F4F7BE;
  color: #000000;
}



