.devorum-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #E5F77D;
}

.devorum-page .content {
  display: flex;
  flex: 1;
  margin-top: 70px;
  margin-left: 250px;
}

.devorum-container {
  flex: 1;
  padding: 40px;
  margin-right: 25%;
  overflow-y: auto;
}

.devorum-item {
  background-color: #F4F7BE;
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.devorum-header {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.username {
  font-weight: bold;
}

.forum {
  color: #555;
}

.status {
  padding: 3px 6px;
  border-radius: 4px;
  color: white;
}

.status.searching {
  background-color: #007bff;
}

.status.found {
  background-color: #28a745;
}

.status.looking-for-more {
  background-color: #ffc107;
}

.post-meta {
  font-size: 12px;
  color: #888;
}

.post-content {
  font-size: 17px;
  text-align: justify;
  font-family: "Space Mono", monospace;
}

.like-count {
  font-weight: bold;
  color: #555;
  cursor: pointer;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.forum-details {
  background-color: #F0F0F0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

