.profile-page {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #E5F77D;
  font-family: 'Montserrat', sans-serif;
}
 
.profile-page .content {
  display: flex;
  flex: 1;
  margin-top: 60px;
  margin-left: 250px; 
}

.profile-page .profile-container {
  flex: 1;
  padding: 50px;
  overflow-y: auto; 
}

.profile-page .profile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-page .profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  flex-shrink: 0;
}

.profile-page .profile-picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-page .profile-details {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-page .profile-info {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.profile-page .profile-info h2 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.profile-page .profile-info p {
  margin: 5px 0;
  font-size: 16px;
}

.profile-page .profile-bio {
  max-width: 400px;
  font-size: 16px;
  margin-right: 200px;
}

.profile-page .profile-actions {
  display: flex;
  align-items: center;
}

.profile-page .action-button {
  background-color: #1E000E;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  margin-right: 25px;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}

.profile-page .skills-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.profile-page .skills {
  flex: 1;
  margin-bottom: 20px;
}

.profile-page .certifications {
  flex: 1;
}

.profile-page .skills h3,
.profile-page .certifications h3 {
  margin-bottom: 20px;
}

.profile-page .skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #F4F7BE;
}

.profile-page .skill {
  background-color: #1E000E;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.profile-page .certifications-list {
  display: flex;
  flex-direction: column; 
  gap: 10px;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  background-color: #F4F7BE;
}

.profile-page .certification {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  width: 100%; 
  background-color: #F4F7BE;
  padding: 5px 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

.profile-page .certification-name {
  margin-right: 10px;
}

.profile-page .verify-button {
  background-color: #1E000E;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
}
